<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Esites
 * @package     Esites_Editor
 * @copyright   Copyright (c) 2015 E-sites (http://www.e-sites.nl)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Esites_Editor>
            <version>0.4.0</version>
        </Esites_Editor>
    </modules>

    <global>
        <models>
            <editor>
                <class>Esites_Editor_Model</class>
            </editor>
        </models>
        <helpers>
            <editor>
                <class>Esites_Editor_Helper</class>
            </editor>
        </helpers>
        <blocks>
            <adminhtml>
                <rewrite>
                    <system_email_template_edit_form>Esites_Editor_Block_Adminhtml_System_Email_Template_Edit_Form</system_email_template_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>

    <default>
        <editor>
            <general>
                <enabled>0</enabled>
                <sections>wysiwygpage_content</sections>
            </general>
            <prefs>
                <keymap>default</keymap>
                <emmet>1</emmet>
                <activeLine>1</activeLine>
                <codeFolding>0</codeFolding>
                <lineWrapping>1</lineWrapping>
                <matchTags>1</matchTags>
                <matchHighlight>0</matchHighlight>
                <closeTags>1</closeTags>
                <search>1</search>
                <completion>0</completion>
            </prefs>
            <appearance>
                <theme>default</theme>
                <fontSize>12</fontSize>
                <indentUnit>4</indentUnit>
                <autoFormat>1</autoFormat>
                <lineLength>100</lineLength>
            </appearance>
        </editor>
    </default>

    <adminhtml>
         <translate>
            <modules>
                <Esites_Editor>
                    <files>
                        <default>Esites_Editor.csv</default>
                    </files>
                </Esites_Editor>
            </modules>
        </translate>
        <events>
            <cms_wysiwyg_config_prepare>
                <observers>
                    <wysiwyg_observer>
                        <type>singleton</type>
                        <class>editor/observer</class>
                        <method>prepareWidgetsPluginConfig</method>
                    </wysiwyg_observer>
                </observers>
            </cms_wysiwyg_config_prepare>
        </events>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <editor>
                                            <title>E-sites - Advanced HTML Editor</title>
                                        </editor>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>