<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Esites
 * @package     Esites_Editor
 * @copyright   Copyright (c) 2015 E-sites (http://www.e-sites.nl)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <tabs>
        <esites translate="label" module="editor">
            <label><![CDATA[<img width="14" style="vertical-align:middle;display:inline-block;" src="https://static.e-sites.nl/magento/esites-symbol.png" alt="E-sites Caribbean" border="0"> E-sites]]></label>
            <sort_order>1000</sort_order>
        </esites>
    </tabs>
    <version translate="label">
        <label>MyModule extension version</label>
        <frontend_type>text</frontend_type>
        <frontend_model>Esites_Editor_Block_Adminhtml_Version</frontend_model>
        <sort_order>0</sort_order>
        <show_in_default>1</show_in_default>
        <show_in_website>1</show_in_website>
        <show_in_store>1</show_in_store>
    </version>
    <sections>
        <editor translate="label" module="editor">
            <label>Advanced Code Editor</label>
            <tab>esites</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="editor">
                    <label>General</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <version translate="label">
                            <label>Version</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>Esites_Editor_Block_Adminhtml_Version</frontend_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </version>
                        <enabled translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <enableFrontend translate="label">
                            <label>Enable in front-end</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Enables the stand-alone editor in the front-end]]></comment>
                        </enableFrontend>
                        <sections translate="label">
                            <label>Sections</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>editor/system_config_source_sections_values</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><enabled>1</enabled></depends>
                            <validate>validate-select</validate>
                            <comment><![CDATA[Select the sections where the editor should be active]]></comment>
                        </sections>
                        <selectors translate="label">
                            <label>Stand-alone selectors</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Turn elements (i.e. &lt;textarea&gt;'s) into a stand-alone editor by passing (comma-separated) CSS selectors]]></comment>
                        </selectors>
                    </fields>
                </general>
                <prefs translate="label" module="editor">
                    <label>Preferences</label>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <codeFolding>
                            <label>Code folding</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </codeFolding>
                        <emmet translate="label">
                            <label>Activate Emmet plugin</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[By enabling this plugin the HTML editor will be extended with <a href="https://github.com/emmetio/codemirror" target="_blank">Emmet</a> functionality]]></comment>
                        </emmet>
                        <activeLine translate="label">
                            <label>Highlight active line</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </activeLine>
                        <keymap>
                            <label>Keymap</label>
                            <frontend_type>select</frontend_type>
                            <source_model>editor/system_config_source_keymap_values</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Keymaps are ways to associate keys with functionality]]></comment>
                        </keymap>
                        <lineWrapping>
                            <label>Line wrapping</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Whether the editor should scroll or wrap for long lines]]></comment>
                        </lineWrapping>
                        <matchTags>
                            <label>Highlight tag matches</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Will cause HTML tags around the cursor to be highlighted]]></comment>
                        </matchTags>
                        <matchHighlight>
                            <label>Match highlight</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Search and highlight occurrences of the selected text]]></comment>
                        </matchHighlight>
                        <trailingSpaces>
                            <label>Show trailing whitespace</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Highlights trailing whitespaces]]></comment>
                        </trailingSpaces>
                        <closeTags>
                            <label>Auto-close tags</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </closeTags>
                        <search>
                            <label>Activate search dialog</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </search>
                        <completion>
                            <label>HTML autocomplete</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </completion>
                        <lint>
                            <label>HTML lint</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </lint>
                    </fields>
                </prefs>
                <appearance translate="label" module="editor">
                    <label>Appearance</label>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <theme translate="label">
                            <label>Theme</label>
                            <frontend_type>select</frontend_type>
                            <source_model>editor/system_config_source_theme_values</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[<a href="https://codemirror.net/demo/theme.html" target="_blank">Click here for a demo of all available themes</a>]]></comment>
                        </theme>
                        <scrollbars translate="label">
                            <label>Scrollbars</label>
                            <frontend_type>select</frontend_type>
                            <source_model>editor/system_config_source_scrollbars_values</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Non-native scrollbar style]]></comment>
                        </scrollbars>
                        <fontSize translate="label">
                            <label>Font size</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>validate-number</validate>
                            <comment><![CDATA[Font size of the editor (in pixels)]]></comment>
                        </fontSize>
                        <indentUnit>
                            <label>Indent unit</label>
                            <frontend_type>select</frontend_type>
                            <source_model>editor/system_config_source_indentunit_values</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[How many spaces a block should be indented]]></comment>
                        </indentUnit>
                        <tabIndent translate="label">
                            <label>Indent with tabs</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Whether to indent with (highlighted) tabs]]></comment>
                        </tabIndent>
                        <autoFormat translate="label">
                            <label>Auto format</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Whether the HTML code should be auto formatted or not]]></comment>
                        </autoFormat>
                        <lineLength translate="label">
                            <label>Wrap line length</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><autoFormat>1</autoFormat></depends>
                            <validate>validate-number</validate>
                            <comment><![CDATA[Wrap lines at next opportunity after N characters]]></comment>
                        </lineLength>
                    </fields>
                </appearance>
            </groups>
        </editor>
    </sections>
</config>
